<% if signed_in? %>
  <div class="row">
    <div class="span12">
   	  <div class="nav nav-pills roundBox">
   	  	<%= gravatar_for current_user, size: 64 %>
      <h3><%= link_to "Hello #{current_user.name}!", current_user %></h3>
      <% if sce? %>
        <%= link_to current_user.shipping_company.name, current_user.shipping_company %>
      <% elsif ase? %>
        <%= link_to current_user.agent.name, current_user.agent %>
      <% end %>
      </div>
	</div>
	<div class="container-fluid">
	<div class="row-fluid">
	      <% if sce? %>
        <div class="span3"><%= render "shared/left_menu" %></div>
      	<div class="span7">
      		<div id="conversation"></div>
      	</div>
		<div class="span2">
			<%= render "shared/feed" %>
		</div>
      <% elsif ase? %>
		<div class="span3"><%= render "shared/left_menu" %></div>
        <div class="span7">
       	  <div id="conversation"></div>
        </div>
		<div class="span2">
			<%= render "shared/feed" %>
		</div>
      <% end %>
    </div>
	</div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to POSEIDON</h1>

    <h2>
      You can register a shipping company or a supplier by following
      one of the links below.
    </h2>

    <%= link_to "New Shipping Company", new_shipping_company_path, 
                                class: "btn btn-large btn-primary" %>

    <%= link_to "New Supplier", new_agent_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %> 


<script>
$(".conversation").click(function() {
	url = '/conversations/small/' + $(this).attr('id');
	console.log(url);
  $.ajax({
    url: url,
    cache: false,
    success: function(html){
      $("#conversation").html(html);
    }
  });
});
</script>