<% if !@es_agents.empty? %>
<div class="roundBox">
<%= will_paginate @es_agents %>
<ul class="agents">
  <%= render @es_agents %>
</ul>
<%= will_paginate @es_agents %>
</div>
<% end %>


<% if !@es_shippingCompanies.empty? %>
<div class="roundBox">
<%= will_paginate @es_shippingCompanies %>
<ul class="shippingCompanies">
  <%= render @es_shippingCompanies %>
</ul>
<%= will_paginate @es_shippingCompanies %>
</div>
<% end %>

<% if !@es_ports.empty? %>
<div class="roundBox">
	<h3>Ports</h3>
<%= will_paginate @es_ports %>
<table class="table table-striped">
	<% @es_ports.each do |port| %>
	<tr>
		<td>
			<%= link_to port.name, "http://maps.googleapis.com/maps/api/staticmap?center=#{port.lat},#{port.lng}&zoom=13&size=600x400&maptype=hybrid&&sensor=true&filename=#{port.name}.png", { :class => "grouped_elements", :rel => "#{port.id}" } %>
		</td>
	</tr>
	<% end %>
</table>
<%= will_paginate @es_ports %>
</div>
<% end %>