<%= will_paginate @es_agents %>

<ul class="agents">
  <%= render @es_agents %>
</ul>

<%= will_paginate @es_agents %>
</div>


<div class="roundBox">
<%= will_paginate @es_shippingCompanies %>

<ul class="shippingCompanies">
  <%= render @es_shippingCompanies %>
</ul>

<%= will_paginate @es_shippingCompanies %>
</div>


<div class="roundBox">
<%= will_paginate @es_ports %>

<ul class="ports">
  <%= render @es_ports %>
</ul>

<%= will_paginate @es_ports %>
</div>
