<% if is_readC(conversation) %>
	<div class="conversationLine marginTop">
<% else %>
	<div class="conversationLineUnread marginTop">
<% end %>

    <div class="row">
    	<div class="span1">
    		<% unless @box.eql?'trash' %>
                <%= link_to(image_tag('cancel.png', :alt => t('mailboxer.delete'), :title => t('mailboxer.delete')),
                conversation_path(conversation, :location => @box,
                :box => @box,
                :page => params[:page]),
                :confirm => t('mailboxer.delete_confirm',
                :object => conversation.subject),
                :method => :delete,
                :remote => true) %>
                <% end %>
    	</div>
        <div class="span3 ">
            <div class="name">
                <%= link_to conversation.last_sender.name, conversation.last_sender %>
            </div>
            <div class="date">
                <%= time_ago_in_words(conversation.updated_at) + " ago" %>
            </div>
        </div>
        <div class="span7 ">
        	<div class="subject">
            <%= link_to(truncate(conversation.subject, :length => 55), conversation_path(conversation.id,:box => @box,:page => params[:page])) %>
            
			</div>
			<div class="body">	
                <%= raw(truncate(strip_tags(conversation.last_message.body), :length => 50)) %>
            </div>
        </div>
    </div>
</div>
