<% if (result.mailbox_type != "inbox") %>
<div class="paddingRight hover" onclick="window.location='/conversations/<%=result.conversation_id%>';">
<% else %>
<div class="paddingLeft hover" onclick="window.location='/conversations/<%=result.conversation_id%>';">
<% end %>
<div class="fullConversation">
    <% if (result.mailbox_type != "inbox") %>
	<div class="fullConvSubject fullConvSubjectOut">
	<% else %>
	<div class="fullConvSubject fullConvSubjectIn">
	<% end %>
        <div class="leftRightMargin padding">
        	<% sender = getSender result.sender_id, result.sender_type %>
        	<div style="float:left;"><b>From:</b> <%= link_to sender.name, sender %></div>
			<div style="float:right;"><%= result.created_at %></div>
			 <br />
            <b>Subject:</b> <%= result.subject %>
        </div>
    </div>
    <div class="fullConvBody">
        <div class="leftRightMargin padding">
            <%= strip_tags(result.body) %>
        </div>
    </div>
	<div class="fullConvFooter">
        <div class="leftRightMargin padding xSmall">
            Read by:<% Reader.where(:notification_id => result.id).each_with_index do |reader, i| %>
            <% unless i==0 %>,<%end %>
            <%= reader.user.name %>
            <% if reader.user.agent_id %>
            (<%= link_to reader.user.agent.name, reader.user.agent %>)<% elsif reader.user.shipping_company_id %>
            (<%= link_to reader.user.shipping_company.name, reader.user.shipping_company %>)<% end %>
            <% end %>
        </div>
    </div>
</div>
</div>