<% content_for :title do %>
<%=t('message.other') %>
<% end %>
<div class="conversations roundBox">
    <%= render :partial => '/shared/message_bar' %>
    <div class="column-wrap roundBox">
        <div id="content-1" class="myborder">
            <div style="border-right-width:1px;">
                <table class="table table-striped table-myhover">
                    <% @contacts.each do |contact| %>
                    <%= render :partial => 'contact' , :locals =>{:contact => contact} %>
                    <% end %>
                </table>
            </div>
        </div>
        <div id="content-2">
            <div id="content-2-1" class="myborder" style="border-left-width:0px;">
                    <table class="table table-striped table-myhover">
                        <% @conversations.each do |conversation| %>
                        <%= render :partial => 'contact_conversation' , :locals =>{:conversation => conversation} %>
                        <% end %>
                    </table>
            </div>
            <div id="content-2-2" class="myborder" style="border-left-width:0px;">
                <%= render :partial => 'contact_conversation_receipts' , :locals =>{:conversation => @conversation}  %>
            </div>
        </div>
    </div>
</div>