<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
    </button>
    <h3 id="myModalLabel"><%= @conversation.subject %>
        <% unless @box.eql?'trash' %>
        <%= link_to(image_tag('cancel.png', :alt => t('mailboxer.delete'), :title => t('mailboxer.delete')),
        conversation_path(@conversation, :location => 'conversation', :box => @box),
        :confirm => t('mailboxer.delete_confirm', :object => @conversation.subject),
        :method => :delete, :remote => true) %>
        <% end %>
    </h3>
</div>
<div class="modal-body">
    <div class="editor">
        <%= text_area_tag :body, nil,:rows =>6, :cols=> 53, :class => "required form_tag" %>
    </div>
    <div class="actions" style="float:right;">
        <%= submit_tag t('mailboxer.reply'), :name => :reply_all,:class => "btn" %>
    </div>
	<div style="clear: both;"></div>
    <div class="marginTop messages">
        <% @receipts.each do |receipt| %>
        <%= render :partial => '/messages/dialog', :object => receipt.message %>
        <% end %>
        <% unless @box.eql?'trash' %>
        <br>
        <%= form_tag({controller: "conversations", action: "update_small"}, id: "reply_form", remote: "true", :class => "cont_conversation", data: { type: :script }) do %>
        <% if @receipt and @receipt.errors.any? %>
        <div class="error">
            <h2><%= pluralize(@receipt.errors.count, "error") %>prohibited this message from being sent:</h2>
            <ul>
                <% @receipt.errors.full_messages.each do |msg| %>
                <li>
                    <%= msg %>
                </li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <% end %>
        <%end %>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
        Close
    </button>
    <% if false %>
    <button class="btn btn-primary">
        Save changes
    </button>
    <% end %>
</div>
<% if false %>
<h4><%= t("message.participants") %>:</h4>
<div class="participants">
    <% @conversation.recipients.each do |recp| %>
    <%= recp.name %>
    <% end %>
</div>
<% end %>