<aside class="span4">
  <section>
    <h1>
      <%= @shipping_company.name %>, <%= @shipping_company.country.printableName %>
    </h1>
    Address: <%= @shipping_company.address %><br />
    Telephone: <%= @shipping_company.telephone %><br />
    e-mail: <%= @shipping_company.email %><br />
    <%= link_to "Profile", @shipping_company, :method => "get" %><br />
    <%= link_to "Add employee", shipping_company_new_sce_path(:shipping_company_id => @shipping_company.id), :method => "get" %><br />
    <%= link_to "Add ship", new_shipping_company_ship_path(:shipping_company_id => @shipping_company.id), :method => "get" %><br />
    <%= link_to "All Ships", shipping_company_ships_path(:shipping_company_id => @shipping_company.id), :method => "get" %>
  </section>
</aside>