<% provide(:title, @shipping_company.name) %>
<%= render "/shared/nav" %>
<div class="row">
    <div class ="roundBox">
        <div id="navigation">
            <ul class="nav nav-tabs" role="tablist">
                <% @shipping_company.pages.rank(:position).each do |page| %>
				<% if page.id == @page.id %>
				<li class="active">
				<% else %>
                <li>
                <% end %>
                    <%= link_to page.name.html_safe, params.merge(:page_id => page.id) %>
                </li>
                <% end %>
				<li><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_page_path(:shipping_company_id => @shipping_company.id), :class => "btn btn-default", :title => "Add a page", :method => :get %></li>
            </ul>
        </div>
        <div id="header">
            <h1><span id="page_name" data-mercury="full"><%= raw @page.name %></span></h1>
        </div>
        <div id="page_content" data-mercury="full">
            <p>
                <%= raw @page.content %>
            </p>
        </div>
    </div>
</div>
