<% provide(:title, @shipping_company.name) %>
<%= render "/shared/nav" %>
<div class="row">
    <div>
        <div id="navigation">
            <ul class="nav nav-tabs" role="tablist">
                <% @shipping_company.pages.each do |page| %>
				<% if page.id == @page.id %>
				<li class="active">
				<% else %>
                <li>
                <% end %>
                    <%= link_to page.name, params.merge(:page_id => page.id) %>
                </li>
                <% end %>
            </ul>
        </div>
        <div id="header">
            <h1><span id="page_name" data-mercury="full"><%= raw @page.name %></span></h1>
        </div>
        <div id="page_content" data-mercury="full">
            <p>
                <%= raw @page.content %>
            </p>
        </div>
        <div>
            <p>
                <%= link_to "Edit Page", "/editor" + request.path, id: "edit_link", data: { save_url: mercury_update_shipping_company_path(:page_id=> @page.id) } %>
            </p>
        </div>
    </div>
</div>
