<% provide(:title, @title) %>
<%= render "/shared/nav" %>
<div class="row">
    <div>
        <h3><%= @title %></h3>
        <div class="roundBox">
            <%= will_paginate %>
            <ul class="fleets">
                <%= render @fleets %>
            </ul>
            <%= will_paginate %>
        </div>
    </div>
</div>
