<% provide(:title, @title) %>
<div class="row">
  <%= render "shipping_companies/nav" %>
  <div class="span8">
  	<h3><%= @title %></h3>
      <%= will_paginate %>
      <ul class="fleets">
        <%= render @fleets %>
      </ul>
      <%= will_paginate %>
  </div>
</div>