<% provide(:title, @title) %>
<%= render "/shared/nav" %>
<div class="row">
    <div>
        <h3><%= @title %></h3>
        <%= form_for @fleet, url: shipping_company_fleets_path do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.hidden_field :shipping_company_id, :value => @shipping_company.id %>
        <%= f.submit "Create this fleet", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
</div>
