<% provide(:title, @title) %>
<div class="row">
  <div class="span12">
    <%= render "nav" %>

    <div class="row">
      <div class="span5 roundBox">
        <h3><%= @fleet.name %></h3>
        <div class="row">
          <div class="marginTop span2 strong">Company:</div>
          <div class="marginTop span3"><%= @fleet.shipping_company.name%></div>

          <div class="marginTop span2 strong">Number of ships:</div>
          <div class="marginTop span3"><%= @fleet.ships.length%></div>
        </div>
      </div>


    </div>

    <div class="marginTop row">
      <div class="span5 roundBox">
        <h4>Ships</h4>
        <%= will_paginate @ships %>
        <ul class="ships">
          <%= render @ships %>
        </ul>
        <%= will_paginate @ships %>
      </div>
      <div class="span5 roundBox">
        <h4>Voyages</h4>
        <%= will_paginate @voyages %>
        <ul class="voyages">
          <%= render @voyages %>
        </ul>
        <%= will_paginate @voyages %>
      </div>
    </div>

    </div>

</div>