<% provide(:title, @title) %>
<div class="row">
  <%= render "shipping_companies/nav" %>
  <div class="span8">
 	<%= link_to @shipping_company.name, shipping_company_path(:id => @shipping_company) %>
  	<h3><%= @fleet.name %></h3>
  	<%= link_to "Add ship", new_shipping_company_fleet_ship_path(:fleet_id => params[:id], :shipping_company_id => params[:shipping_company_id]) %>
  	  <div class="ships_list">
  	  	<h5><%= "Ships of fleet: #{@fleet.name}"  %></h5>
        <%= will_paginate @ships %>
        <ul class="ships">
          <%= render @ships %>
        </ul>
        <%= will_paginate @ships %>
      </div>
  </div>
</div>