<% provide(:title, @title) %>
<%= render "/shared/nav" %>
<div class="row">
    <div class="roundBox">
        <h3><%= @fleet.name %></h3>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        Company:
                    </td>
                    <td>
                        <%= @fleet.shipping_company.name %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Number of ships:
                    </td>
                    <td>
                        <%= @fleet.ships.length %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--    <div class="marginTop row">
<div class="span5 roundBox">
<h4>Ships</h4>
<%= will_paginate @ships %>
<ul class="ships">
<%= render @ships %>
</ul>
<%= will_paginate @ships %>
</div>
<div class="span5 roundBox">
<h4>Voyages</h4>
<%= will_paginate @voyages %>
<ul class="voyages">
<%= render @voyages %>
</ul>
<%= will_paginate @voyages %>
</div>
</div>
</div>-->
