<ul class="nav nav-pills">
  <li>
    <ol class="breadcrumb">
      <li><%= link_to @shipping_company.name, shipping_company_path(:id => params[:shipping_company_id]) %><span class="divider">/</span></li>
	  
      <li><%= link_to @fleet.name, shipping_company_fleet_path(:id => params[:fleet_id]) %><span class="divider">/</span></li>
      <li><%= link_to @ship.name, shipping_company_fleet_ship_path(:id => params[:ship_id]) %><span class="divider">/</span></li>

	  <li class="active"><%= @voyage.name %></li>
    </ol>
  </li>
  <% if authorized_sce? %>
  <li class="marginLeft"><%= link_to '<span class="icon icon-edit"></span>'.html_safe, edit_shipping_company_fleet_ship_voyage_path, :class => "btn btn-default", :title => "Edit voyage", :method => :get %></li>
  <% end %>
  <% if !authorized_sce? and !@voyages_port.voyage_id.blank? %>
  <li class="marginLeft"><%= link_to '<span class="icon icon-pencil"></span>'.html_safe, new_message_path(:voyages_port=> @voyages_port, :recipient => @shipping_company.name, :subject => "[#{@voyages_port.voyage.name} - #{@voyages_port.port.name} - #{@voyages_port.date}] "), :class => "btn btn-default", :title => "Send a message to #{@shipping_company.name} regarding this voyage", :method => :get %></li>
  <% end %>
  <li class="marginLeft"><%= link_to '<span class="icon icon-envelope"></span>'.html_safe, conversations_path(:box => 'inbox', :voyages_port=> @voyages_port), :class => "btn btn-default", :title => "View all messages regarding this voyage", :method => :get %></li>  
</ul>