<% provide(:title, @title) %>
<%= render "/shared/nav" %>
<div class="row">
    <div>
        <h3><%= @title %></h3>
        <%= will_paginate %>
        <ul class="ships">
            <%= render @voyages %>
        </ul>
        <%= will_paginate %>
    </div>
</div>
