<% provide(:title, @title) %>
<div class="row">
  <%= render "shipping_companies/nav" %>
  <div class="span8">
  	<%= link_to @shipping_company.name, shipping_company_path(:id => @shipping_company) %>:
  	<%= link_to @fleet.name, shipping_company_fleet_path(:id => @fleet) %>:
  	<%= link_to @ship.name, shipping_company_fleet_ship_path(:id => @ship) %>
  	<h3><%= @title %></h3>
  	
  	<%= "#{@voyage.date}, #{@voyage.port.name}" %>
  	
  	<div class="needs">
  	  <h5>Needs of voyage</h5>
  	  <% @needs.each do |ineed| %>
        <%= "#{ineed.service.category}: #{ineed.quantity}" %>
        <% if current_user.agent_id!=nil %>
          <% if (offer=current_user.agent.offers.where(:need_id => ineed).first)!=nil %>
            <%= render 'offers/editOffer', :ineed => ineed, :offer => offer %>
          <% else %>
            <%= render 'offers/newOffer', :ineed => ineed %>
          <% end %>
        <% elsif current_user.shipping_company_id.to_s==params[:shipping_company_id] %>
            <%= render 'offers/indexOffer', :ineed => ineed %>
        <% end %>
    <% end %>	
  	</div>
  	<div class="needForm">
    <h5>Add a need</h5>
  	<%= form_for @need, url: shipping_company_fleet_ship_voyage_needs_path(:voyage_id => params[:id]), :html => {:class => "form-inline"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= select "need", "service_id", Service.order(:category).all.collect {|p| [ p.category, p.id ] }, { :include_blank => true }, class: "input-large"  %>

      <%= f.number_field :quantity, :value => 1, class: 'input-mini'  %>

      <%= f.hidden_field :voyage_id, :value => @voyage.id %>
      
      <%= f.submit "+", class: 'btn btn-small btn-primary'  %>
    <% end %>
    </div>
  </div>
</div>
