<% provide(:title, @title) %>
<div class="row">
  <div class="span12">
    <%= render "nav" %>
  	<%= "#{@voyage.date}, #{@voyage.port.name}" %>
  	
  	<div class="needs roundBox marginTop">
  	  <h4>Needs</h4>
  	  <% @needs.each do |ineed| %>
  	  <div class="roundGrayBox">
        <% if ase? %>
          <% if (offer=current_user.agent.offers.where(:need_id => ineed).first)!=nil %>
            <%= render 'offers/editOffer', :ineed => ineed, :offer => offer %>
          <% else %>
            <%= render 'offers/newOffer', :ineed => ineed %>
          <% end %>
        <% elsif current_user.shipping_company_id.to_s==params[:shipping_company_id] %>
            <%= render 'offers/indexOffer', :ineed => ineed %>
        <% end %>
      </div>	
      <% end %>
  	</div>
  	
  	<% if ase? %>
  	<div class="needForm roundBox marginTop">
    <h4>Add a need</h4>
  	<%= form_for @need, url: shipping_company_fleet_ship_voyage_needs_path(:voyage_id => params[:id]), :html => {:class => "form-inline"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= select "need", "service_id", Service.order(:category).all.collect {|p| [ p.category, p.id ] }, { :include_blank => true }, class: "input-large"  %>

      <%= f.hidden_field :voyage_id, :value => params[:id] %>
      
      <%= f.submit "+", class: 'btn btn-small btn-primary'  %>
    <% end %>
    </div>
    <% end %>
  </div>
</div>
