<% provide(:title, @title) %>
<div class="row">
	
	<div class="span12">
	    <%= render "nav" %>
  
  	
	    <div class="row">
      <div class="span10 roundBox">
        <h3><%= @voyage.name %></h3>
        <div class="row">
          
          <div class="marginTop span2 strong">Port of Call:</div>
          <div class="marginTop span3"><%= @voyage.port.name%></div>

          <div class="marginTop span2 strong">Date:</div>
          <div class="marginTop span3"><%= @voyage.date%></div>
		  
		  <div class="marginTop span2 strong">Company:</div>
          <div class="marginTop span3"><%= @voyage.ship.fleet.shipping_company.name%></div>

		  <div class="marginTop span2 strong">Vessel:</div>
          <div class="marginTop span3"><%= @voyage.ship.name%></div>
		  
		  <div class="marginTop span2 strong">Vessel Type:</div>
          <div class="marginTop span3"><%= @voyage.ship.vessel_type.category%></div>
		  
		  <div class="marginTop span2 strong">Flag:</div>
    	  <div class="marginTop span3"><%= image_tag "flags/#{@voyage.ship.flag.path}", size: "64", alt: "#{@ship.flag.name}" %></div>

		  <div class="marginTop span10">
		  	<h4>Remarks:</h4>
			<%= @voyage.remarks %>
		  </div>

        </div>
      </div>


    </div>
	
	<div class="row">

  	
  	<div class="span12 needs roundBox marginTop">
  	  <h4>Needs</h4>
  	  <% @needs.each do |ineed| %>
  	  <div class="roundGrayBox">
        <% if ase? %>
          <% if (offer=current_user.agent.offers.where(:need_id => ineed).first)!=nil %>
            <%= render 'offers/editOffer', :ineed => ineed, :offer => offer %>
          <% else %>
            <%= render 'offers/newOffer', :ineed => ineed %>
          <% end %>
        <% elsif current_user.shipping_company_id.to_s==params[:shipping_company_id] %>
            <%= render 'offers/indexOffer', :ineed => ineed %>
        <% end %>
      </div>	
      <% end %>
  	</div>
  	
  	<% if ase? %>
  	<div class="span12 needForm roundBox marginTop">
    <h4>Add a need</h4>
  	<%= form_for @need, url: shipping_company_fleet_ship_voyage_needs_path(:voyage_id => params[:id]), :html => {:class => "form-inline"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= select "need", "service_id", Service.order(:category).all.collect {|p| [ p.category, p.id ] }, { :include_blank => true }, class: "input-large"  %>

      <%= f.hidden_field :voyage_id, :value => params[:id] %>
      
      <%= f.submit "+", class: 'btn btn-small btn-primary'  %>
    <% end %>
    </div>
    <% end %>
  </div>
  
  </div>
</div>
