<% if notification.subject.include? ':' %>
<%   @array = notification.subject.split ':' %>
<%   @incoming = @array[0] == name_works_for(current_user) %>
<%   @subject = @array[1] %>
<% else %>
<%   @incoming = false %>
<%   @subject = notification.subject %>
<% end %>

<div class="marginTop <%= @incoming ? "greenBorder" : "redBorder"%>">
<% if is_readN notification %>
<% @icon = '<i class="fa fa-exclamation fa-2x"></i>'.html_safe %>
<% else %>
<% @icon = '<i class="fa fa-exclamation fa-2x red"></i>'.html_safe %>
<% end %>
    <div id=<%= notification.id %> class="bubbleContent column-wrap conversation">
        <div class="small-left-column" align="center" valign="middle">
			<%= @icon %>
        </div>
        <div class="big-right-column">
            <% if !notification.sender %>
            <div class="dialogTitle">
                <%= raw(truncate(@subject, :length => 60)) %>
            </div>
            <% else %>
            <div class="dialogTitle">
                <%= notification.sender.name %>:&thinsp;<%= raw(truncate(@subject, :length => 30)) %>
            </div>
            <% end %>
            <%= raw(truncate(notification.body, :length => 100)) %>
        </div>
    </div>
</div>
       
	    <% if false %>
        <%= gravatar_for current_user, size: 64 %>
        <h3><%= link_to "Hello #{current_user.name}!", current_user %></h3>
        <%= works_for(current_user) %>
        <div class="row">
            <div class="span3 roundBeigeBox">
                <div class="name">
                    <%= link_to notification.sender.name, notification.sender %>
                </div>
                <div class="sender">
                    <% sender = Sender.where(:notification_id => notification.id).first %>
                    <%if !sender.nil? %>
                    <%= sender.user.name %>
                    <%end %>
                </div>
                <div class="date">
                    <%= time_ago_in_words(notification.updated_at) + " ago" %>
                </div>
            </div>
            <div class="span8">
                <div class="roundKhakiBox">
                    <%= raw(notification.body) %>
                </div>
                <div class="roundGrayBox xSmall">
                    Read by:<% Reader.where(:notification_id => notification.id).each_with_index do |reader, i| %>
                    <% unless i==0 %>,<%end %>
                    <%= reader.user.name %>
                    <% if reader.user.agent_id %>
                    (<%= link_to reader.user.agent.name, reader.user.agent %>)<% elsif reader.user.shipping_company_id %>
                    (<%= link_to reader.user.shipping_company.name, reader.user.shipping_company %>)<% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <% end %>
