<% if notification.subject.include? ':' %>
    <%   @array = notification.subject.split ':' %>
    <%   @incoming = @array[0] == name_works_for(current_user) %>
    <%   @subject = @array[1] %>
<% else %>
    <%   @incoming = false %>
    <%   @subject = notification.subject %>
<% end %>

<div class="marginTop <%= @incoming ? "greenBorder" : "redBorder"%>" onclick="window.location='/notifications/<%=notification.id%>';">
<% if is_readN notification %>
<% @icon = '<i class="fa fa-exclamation fa-2x"></i>'.html_safe %>
<% else %>
<% @icon = '<i class="fa fa-exclamation fa-2x red"></i>'.html_safe %>
<% end %>
    <div class="bubbleContent column-wrap">
        <div class="small-left-column" align="center" valign="middle">
			<%= @icon %>
        </div>
        <div class="big-right-column">
            <% if !notification.sender %>
            <div class="dialogTitle">
                <%= raw(@subject) %>
            </div>
            <% else %>
            <div class="dialogTitle">
                <%= notification.sender.name %>:&thinsp;<%= raw(@subject) %>
            </div>
            <% end %>
            <%= raw(notification.body) %>
        </div>
    </div>
</div>