<% provide(:title, 'Sign up') %>
<div class="row">
  <%= render "agents/nav" %>
  <div class="span8">
  	<h3>Create user for <%= @agent.name %></h3>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.hidden_field :agent_id, :value => params[:agent_id] %>
      
      <%= f.submit "Create this account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
