<div class="accordion" id="leftMenu">
    <div class="accordion-group">
        <div class="accordion-heading accordion-fleet">
            <a class="accordion-toggle" data-toggle="false" data-parent="#leftMenu" href="/"><i class="icon-home"></i> Home</a>
        </div>
    </div>
	<% if sce? %>
    <div class="accordion-group">
        <div class="accordion-heading accordion-fleet">
            <a class="accordion-toggle" data-toggle="false" data-parent="#leftMenu" href="<%=shipping_company_path(:id => current_user.shipping_company.id)%>"><i class="icon-bookmark"></i> <%=current_user.shipping_company.name%></a>
        </div>
    </div>
	<% end %>
	<% if ase? %>
    <div class="accordion-group">
        <div class="accordion-heading accordion-fleet">
            <a class="accordion-toggle" data-toggle="false" data-parent="#leftMenu" href="<%=agent_path(:id => current_user.agent.id)%>"><i class="icon-bookmark"></i> <%=current_user.agent.name%></a>
        </div>
    </div>
	<% end %>		
			
	<% @fleets.each do |fleet| %>
    <div class="accordion-group">
        <div class="accordion-heading accordion-fleet">
            <a class="accordion-toggle accordion-left" data-toggle="collapse" data-parent="#leftMenu" href="#collapse<%=fleet.name%>"><i class="icon-th"></i> <%=fleet.name%></a>
			<a class="accordion-toggle accordion-right" data-toggle="" data-parent="#leftMenu" href="<%=shipping_company_fleet_path(:id => fleet.id, :shipping_company_id => fleet.shipping_company.id)%>"><i class="icon-circle-arrow-right"></i></a>
        </div>
		<div style="clear:both;"></div>
		<% if (params[:fleet_id] and params[:fleet_id].eql? fleet.id.to_s) or (params[:shipping_company_id] and params[:id].eql? fleet.id.to_s) %>
		<div id="collapse<%=fleet.name%>" class="accordion-toggle collapse in">
		<% else %>
        <div id="collapse<%=fleet.name%>" class="accordion-toggle collapse">
        <% end %>
			<div class="accordion" id="leftMenu_<%=fleet.name%>">
			<% fleet.ships.each do |ship| %>
            <div class="accordion-heading accordion-ship">
            <a class="accordion-toggle accordion-left" data-toggle="collapse" data-parent="#leftMenu_<%=fleet.name%>" href="#collapse<%=fleet.name%>_<%=ship.name%>"><i class="icon-th"></i> <%=ship.name%></a>
			<a class="accordion-toggle accordion-right" data-toggle="" data-parent="#leftMenu_<%=fleet.name%>" href="<%=shipping_company_fleet_ship_path(:id => ship.id, :fleet_id => fleet.id, :shipping_company_id => fleet.shipping_company.id)%>"><i class="icon-circle-arrow-right"></i></a>
        	</div>
			<div style="clear:both;"></div>
			<% if (params[:ship_id] and params[:ship_id].eql? ship.id.to_s) or (params[:fleet_id] and params[:id].eql? ship.id.to_s) %>
			<div id="collapse<%=fleet.name%>_<%=ship.name%>" class="accordion-body collapse in">
			<% else %>
        	<div id="collapse<%=fleet.name%>_<%=ship.name%>" class="accordion-body collapse">
        	<% end %>
				<% ship.voyages.each do |voyage| %>
            	<div class="accordion-heading accordion-voyage">
            	<a class="accordion-toggle" data-toggle="false" data-parent="#leftMenu" href="<%=shipping_company_fleet_ship_voyage_path(:id => voyage.id, :ship_id => ship.id, :fleet_id => fleet.id, :shipping_company_id => fleet.shipping_company.id)%>"><i class="icon-file"></i> <%=voyage.name%></a>
        		</div>
				<% end %>
        	</div>
			<% end %>
			</div>
        </div>
    </div>
	<% end %>
</div>