<div class="accordion" id="leftMenu">
    <div class="accordion-group">
        <div class="accordion-heading accordion-main">
            <a class="accordion-toggle" data-toggle="false" data-parent="#leftMenu" href="/"><i class="icon-home"></i> Home</a>
        </div>
    </div>
	<% if sce? %>
    <div class="accordion-group">
        <div class="accordion-heading accordion-main">
            <a class="accordion-toggle" data-toggle="false" data-parent="#leftMenu" href="<%=shipping_company_path(:id => current_user.shipping_company.id)%>"><i class="icon-bookmark"></i> <%=current_user.shipping_company.name%></a>
        </div>
    </div>
	<% end %>
	<% if ase? %>
    <div class="accordion-group">
        <div class="accordion-heading accordion-main">
            <a class="accordion-toggle" data-toggle="false" data-parent="#leftMenu" href="<%=agent_path(:id => current_user.agent.id)%>"><i class="icon-bookmark"></i> <%=current_user.agent.name%></a>
        </div>
    </div>
	<% end %>
	
	
	<% if sce? %>
	<div class="accordion-group">
        <div class="accordion-heading accordion-main">
            <a class="accordion-toggle accordion-left" data-toggle="collapse" data-parent="#leftMenu" href="#collapse_fleets"><i class="icon-th"> </i> Fleets</a>
        </div>
		<div style="clear:both;"></div>
		<% if params[:fleet_id] or params[:shipping_company_id] %>
		<div id="collapse_fleets" class="accordion-toggle collapse in">
		<% else %>
        <div id="collapse_fleets" class="accordion-toggle collapse">
        <% end %>
	    <div class="accordion" id="fleets">
	
		<% @fleets.each do |fleet| %>
    
	        <div class="accordion-heading accordion-fleet">
	            <a class="accordion-toggle accordion-left" data-toggle="collapse" data-parent="#fleets" href="#collapse<%=fleet.name.delete(' ')%>"><i class="icon-th"></i> <%=fleet.name%></a>
				<a class="accordion-toggle accordion-right" data-toggle="" data-parent="#fleets" href="<%=shipping_company_fleet_path(:id => fleet.id, :shipping_company_id => fleet.shipping_company.id)%>"><i class="icon-circle-arrow-right"></i></a>
	        </div>
			<div style="clear:both;"></div>
			<% if (params[:fleet_id] and params[:fleet_id].eql? fleet.id.to_s) or (params[:shipping_company_id] and params[:id].eql? fleet.id.to_s) %>
			<div id="collapse<%=fleet.name.delete(' ')%>" class="accordion-toggle collapse in">
			<% else %>
	        <div id="collapse<%=fleet.name.delete(' ')%>" class="accordion-toggle collapse">
	        <% end %>
				<div class="accordion" id="leftMenu_<%=fleet.name%>">
				<% fleet.vessel_types.each do |vessel_type| %>
	            <div class="accordion-heading accordion-vessel-type">
                  <a class="accordion-toggle" data-toggle="false" data-parent="#leftMenu" href="<%=shipping_company_fleet_ships_path(:shipping_company_id => fleet.shipping_company.id, :fleet_id => fleet.id, :vessel_type => vessel_type.id )%>"><i class="icon-bookmark"></i> <%=vessel_type.category%></a>
	        	</div>
				<div style="clear:both;"></div>
				<% end %>
				</div>
	        </div>
    	</div>
		<% end %>
	
	</div>
	</div>
	<% end %>
</div>