<ul class="nav nav-pills">
	
  <% if params[:controller] == 'voyages' and params[:action] == 'show' %>	
  <li class="pull-right"><%= link_to '<span class="icon icon-envelope"></span>'.html_safe, conversations_path(:box => 'inbox', :voyages_port=> @voyages_port), :class => "btn btn-default", :title => "View all messages regarding this voyage", :method => :get %></li>
  <% end %>
  
  <% if authorized_sce? %>
  
    <% if params[:controller] == 'fleets'%>
	  <% if params[:action] == 'edit' or params[:action] == 'show' %>
  		<li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_ship_path(:fleet_id => params[:id], :shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a ship", :method => :get %></li>
  		<li class="pull-right"><%= link_to '<span class="icon icon-edit"></span>'.html_safe, edit_shipping_company_fleet_path, :class => "btn btn-default", :title => "Edit fleet", :method => :get %></li>
   	  <% end %>
	  <% if params[:action] == 'index' or params[:action] == 'new' %>
		<li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_path(:shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a fleet", :method => :get %></li>
  		<li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, shipping_company_new_sce_path(:shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
   	  <% end %>  
	<% end %>

    <% if params[:controller] == 'shipping_companies'%>
	  <% if params[:action] == 'show' %>
	  
	  	  <li class="pull-right"><%= link_to '<span class="icon icon-pencil"></span>'.html_safe, "/editor" + request.path, id: "edit_link", :class => "btn btn-default", :title => "Add a fleet", data: { save_url: mercury_update_shipping_company_path(:page_id=> @page.id) } %></li>
		  <li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_path(:shipping_company_id => @shipping_company.id), :class => "btn btn-default", :title => "Add a fleet", :method => :get %></li>
  		  <li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, shipping_company_new_sce_path(:shipping_company_id => @shipping_company.id), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
   	  <% end %>
	<% end %>
  
  
  
    <% if params[:controller] == 'ships'%>
	  <% if params[:action] == 'edit' or params[:action] == 'show' %>
	    <li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_ship_voyage_path(:ship_id => params[:id], :shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a voyage", :method => :get %></li>
	    <li class="pull-right"><%= link_to '<span class="icon icon-edit"></span>'.html_safe, edit_shipping_company_fleet_ship_path, :class => "btn btn-default", :title => "Edit ship", :method => :get %></li>
   	  <% end %>
	  <% if params[:action] == 'index' or  params[:action] == 'new' %>
	    <li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_ship_path(:shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a ship", :method => :get %></li>
		<li class="pull-right"><%= link_to '<span class="icon icon-edit"></span>'.html_safe, edit_shipping_company_fleet_path(:id => params[:fleet_id]), :class => "btn btn-default", :title => "Edit fleet", :method => :get %></li>
   	  <% end %>  
	<% end %>

  	<% if params[:controller] == 'users'%>
	  <% if params[:action] == 'new_sce' %>
		  <li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_path(:shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a fleet", :method => :get %></li>
		  <li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, shipping_company_new_sce_path(:shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
   	  <% end %>
	<% end %>
  
  	<% if params[:controller] == 'voyages'%>
		<% if params[:action] == 'show' or params[:action] == 'edit' %>
  			<li class="pull-right"><%= link_to '<span class="icon icon-edit"></span>'.html_safe, edit_shipping_company_fleet_ship_voyage_path, :class => "btn btn-default", :title => "Edit voyage", :method => :get %></li>
		<% end %>
		<% if params[:action] == 'new' %>
			<li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_ship_voyage_path(:ship_id => params[:ship_id], :shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a voyage", :method => :get %></li>
  			<li class="pull-right"><%= link_to '<span class="icon icon-edit"></span>'.html_safe, edit_shipping_company_fleet_ship_path(:id => params[:ship_id]), :class => "btn btn-default", :title => "Edit ship", :method => :get %></li>
		<% end %>
		<% if params[:action] == 'index' %>		
		  <li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_path(:shipping_company_id => @shipping_company.id), :class => "btn btn-default", :title => "Add a fleet", :method => :get %></li>
		  <li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, shipping_company_new_sce_path(:shipping_company_id => @shipping_company.id), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
		<% end %>
	<% end %>
	
  <% end %>
  
  <% if !authorized_sce? %>
  
    <% if params[:controller] == 'shipping_companies'%>
	  <% if params[:action] == 'show' %>
		  <li class="pull-right"><%= link_to '<span class="icon icon-envelope"></span>'.html_safe, new_message_path(:type=> 'sc', :recipient => @shipping_company.name), :class => "btn btn-default", :title => "Send a message to #{@shipping_company.name}", :method => :get %></li>
   	  <% end %>
	<% end %>

  	<% if @voyages_port and !@voyages_port.voyage_id.blank? %>
  	  <% if params[:controller] == 'voyages' and params[:action] == 'show' %>
  		<li class="pull-right"><%= link_to '<span class="icon icon-pencil"></span>'.html_safe, new_message_path(:voyages_port=> @voyages_port, :recipient => @shipping_company.name, :subject => "[#{@voyages_port.voyage.name} - #{@voyages_port.port.name} - #{@voyages_port.date}] "), :class => "btn btn-default", :title => "Send a message to #{@shipping_company.name} regarding this voyage", :method => :get %></li>
  	  <% end %>
	  <% if params[:controller] == 'voyages' and params[:action] == 'index' %>
		<li class="pull-right"><%= link_to '<span class="icon icon-envelope"></span>'.html_safe, new_message_path(:type=> 'sc', :recipient => @shipping_company.name), :class => "btn btn-default", :title => "Send a message to #{@shipping_company.name}", :method => :get %></li>
	  <% end %>
	<% end %>
  <% end %>



  <% if authorized_ase? %>
  
    <% if params[:controller] == 'users'%>
	  <% if params[:action] == 'new_ase' %>
		<li class="pull-right"><%= link_to '<span class="icon icon-map-marker"></span>'.html_safe, manage_ports_agent_path(:id => params[:agent_id]), :class => "btn btn-default", :title => "Manage ports", :method => :get %></li>
  		<li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, agent_new_ase_path(:agent_id => params[:agent_id]), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
   	  <% end %>
	<% end %>
  
    <% if params[:controller] == 'agents'%>
	  <% if params[:action] == 'manage_ports' %>
		<li class="pull-right"><%= link_to '<span class="icon icon-map-marker"></span>'.html_safe, manage_ports_agent_path(:id => params[:id]), :class => "btn btn-default", :title => "Manage ports", :method => :get %></li>
  		<li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, agent_new_ase_path(:agent_id => params[:id]), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
   	  <% end %>
	  <% if params[:action] == 'show' %>
		<li class="pull-right"><%= link_to '<span class="icon icon-map-marker"></span>'.html_safe, manage_ports_agent_path(:id => params[:id]), :class => "btn btn-default", :title => "Manage ports", :method => :get %></li>
		<li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, agent_new_ase_path(:agent_id => params[:id]), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
   	  <% end %>
	<% end %>

  
  <% end %>

  <% if !authorized_ase? %>

    <% if params[:controller] == 'agents'%>
	  <% if params[:action] == 'show' %>
		<li class="pull-right"><%= link_to '<span class="icon icon-envelope"></span>'.html_safe, new_message_path(:type=> 'a', :recipient => @agent.name), :class => "btn btn-default", :title => "Send a message to #{@agent.name}", :method => :get %></li>
   	  <% end %>
	<% end %>
  
  <% end %>


    
</ul>