<ul class="nav nav-pills">
	
  <% if params[:controller] == 'voyages' and params[:action] == 'show' %>	
  <li class="pull-right"><%= link_to '<span class="icon icon-envelope"></span>'.html_safe, conversations_path(:box => 'inbox', :voyages_port=> @voyages_port), :class => "btn btn-default", :title => "View all messages regarding this voyage", :method => :get %></li>
  <% end %>
  
  <% if authorized_sce? %>
  
    <% if params[:controller] == 'fleets'%>
	  <% if params[:action] == 'edit' or params[:action] == 'show' %>
  		<li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_ship_path(:fleet_id => params[:id], :shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a ship", :method => :get %></li>
  		<li class="pull-right"><%= link_to '<span class="icon icon-edit"></span>'.html_safe, edit_shipping_company_fleet_path, :class => "btn btn-default", :title => "Edit fleet", :method => :get %></li>
   	  <% end %>
	  <% if params[:action] == 'index' or params[:action] == 'new' %>
		<li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_path(:shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a fleet", :method => :get %></li>
  		<li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, shipping_company_new_sce_path(:shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
   	  <% end %>  
	<% end %>

    <% if params[:controller] == 'shipping_companies'%>
	  <% if params[:action] == 'show' %>
	  	  <li class="pull-right"><a href="#sortOrderModal" title="Edit page order" role="button" class="btn btn-default" data-toggle="modal"><span class="icon icon-list-alt"></span></a></li>
	  	  <li class="pull-right"><%= link_to '<span class="icon icon-pencil"></span>'.html_safe, "/editor" + shipping_company_path(:page_id => @page.id), id: "edit_link", :class => "btn btn-default", :title => "Edit Page", data: { save_url: mercury_update_shipping_company_path(:page_id=> @page.id) } %></li>
		  <li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_path(:shipping_company_id => @shipping_company.id), :class => "btn btn-default", :title => "Add a fleet", :method => :get %></li>
  		  <li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, shipping_company_new_sce_path(:shipping_company_id => @shipping_company.id), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
   	  <% end %>
	<% end %>
  
  
  
    <% if params[:controller] == 'ships'%>
          <li>
            <ol class="breadcrumb">
              <% if params[:action] == 'show' or params[:action] == 'edit' or params[:action] == 'list' %>
                  <li><%= link_to "Ships", shipping_company_fleet_ships_path(:shipping_company_id => @ship.fleet.shipping_company.id, :fleet_id => @ship.fleet.id, :vessel_type => params[:vessel_type] ) %><span class="divider">/</span></li>
              <% end %>
              <li class="active"><%= @title %></li>
            </ol>
          </li>
	  <% if params[:action] == 'edit' or params[:action] == 'show' %>
	    <li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_ship_voyage_path(:ship_id => params[:id], :shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a voyage", :method => :get %></li>
	    <li class="pull-right"><%= link_to '<span class="icon icon-edit"></span>'.html_safe, edit_shipping_company_fleet_ship_path, :class => "btn btn-default", :title => "Edit ship", :method => :get %></li>
   	  <% end %>
	  <% if params[:action] == 'index' or  params[:action] == 'new' %>
	    <li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_ship_path(:shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a ship", :method => :get %></li>
		<li class="pull-right"><%= link_to '<span class="icon icon-edit"></span>'.html_safe, edit_shipping_company_fleet_path(:id => params[:fleet_id]), :class => "btn btn-default", :title => "Edit fleet", :method => :get %></li>
   	  <% end %>  
	<% end %>

  	<% if params[:controller] == 'users'%>
	  <% if params[:action] == 'new_sce' %>
		  <li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_path(:shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a fleet", :method => :get %></li>
		  <li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, shipping_company_new_sce_path(:shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
   	  <% end %>
	<% end %>
  
  	<% if params[:controller] == 'voyages'%>
          <li>
            <ol class="breadcrumb">
              <li><%= link_to "Ships", shipping_company_fleet_ships_path(:shipping_company_id => @ship.fleet.shipping_company.id, :fleet_id => @ship.fleet.id, :vessel_type => params[:vessel_type] ) %><span class="divider">/</span></li>
              <li><%= link_to "List", shipping_company_fleet_ship_list_path(:shipping_company_id => @ship.fleet.shipping_company.id, :fleet_id => @ship.fleet.id, :ship_id => @ship.id, :vessel_type => params[:vessel_type] ) %><span class="divider">/</span></li>
              <% if params[:action] == 'show' or params[:action] == 'edit' %>
                  <li><%= link_to "Agents", shipping_company_fleet_ship_voyages_path(:vessel_type => params[:vessel_type], :shipping_company_id => @ship.fleet.shipping_company.id, :fleet_id => @ship.fleet.id, :vessel_type => params[:vessel_type] ) %><span class="divider">/</span></li>
              <% end %>
              <li class="active"><%= @title %></li>
            </ol>
          </li>
		<% if params[:action] == 'show' or params[:action] == 'edit' %>
  			<li class="pull-right"><%= link_to '<span class="icon icon-edit"></span>'.html_safe, edit_shipping_company_fleet_ship_voyage_path(:vessel_type => params[:vessel_type]), :class => "btn btn-default", :title => "Edit voyage", :method => :get %></li>
		<% end %>
		<% if params[:action] == 'new' %>
			<li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_ship_voyage_path(:ship_id => params[:ship_id], :shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a voyage", :method => :get %></li>
  			<li class="pull-right"><%= link_to '<span class="icon icon-edit"></span>'.html_safe, edit_shipping_company_fleet_ship_path(:id => params[:ship_id]), :class => "btn btn-default", :title => "Edit ship", :method => :get %></li>
		<% end %>
		<% if params[:action] == 'index' %>
              <li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_ship_voyage_path(:ship_id => params[:ship_id], :shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a voyage", :method => :get %></li>
		<% end %>
	<% end %>
	
  <% end %>
  
  <% if !authorized_sce? %>
  
    <% if params[:controller] == 'shipping_companies'%>
	  <% if params[:action] == 'show' %>
		  <li class="pull-right"><%= link_to '<span class="icon icon-envelope"></span>'.html_safe, new_message_path(:type=> 'sc', :recipient => @shipping_company.name), :class => "btn btn-default", :title => "Send a message to #{@shipping_company.name}", :method => :get %></li>
   	  <% end %>
	<% end %>

  	<% if @voyages_port and !@voyages_port.voyage_id.blank? %>
  	  <% if params[:controller] == 'voyages' and params[:action] == 'show' %>
  		<li class="pull-right"><%= link_to '<span class="icon icon-pencil"></span>'.html_safe, new_message_path(:voyages_port=> @voyages_port, :recipient => @shipping_company.name, :subject => "[#{@voyages_port.voyage.name} - #{@voyages_port.port.name} - #{@voyages_port.date}] "), :class => "btn btn-default", :title => "Send a message to #{@shipping_company.name} regarding this voyage", :method => :get %></li>
  	  <% end %>
	  <% if params[:controller] == 'voyages' and params[:action] == 'index' %>
		<li class="pull-right"><%= link_to '<span class="icon icon-envelope"></span>'.html_safe, new_message_path(:type=> 'sc', :recipient => @shipping_company.name), :class => "btn btn-default", :title => "Send a message to #{@shipping_company.name}", :method => :get %></li>
	  <% end %>
	<% end %>
  <% end %>



  <% if authorized_ase? %>
  
    <% if params[:controller] == 'users'%>
	  <% if params[:action] == 'new_ase' %>
		<li class="pull-right"><%= link_to '<span class="icon icon-map-marker"></span>'.html_safe, manage_ports_agent_path(:id => params[:agent_id]), :class => "btn btn-default", :title => "Manage ports", :method => :get %></li>
  		<li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, agent_new_ase_path(:agent_id => params[:agent_id]), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
   	  <% end %>
	<% end %>
  
    <% if params[:controller] == 'agents'%>
	  <% if params[:action] == 'manage_ports' %>
		<li class="pull-right"><%= link_to '<span class="icon icon-map-marker"></span>'.html_safe, manage_ports_agent_path(:id => params[:id]), :class => "btn btn-default", :title => "Manage ports", :method => :get %></li>
  		<li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, agent_new_ase_path(:agent_id => params[:id]), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
   	  <% end %>
	  <% if params[:action] == 'show' %>
    	<li class="pull-right"><a href="#sortOrderModal" title="Edit page order" role="button" class="btn btn-default" data-toggle="modal"><span class="icon icon-list-alt"></span></a></li>
        <li class="pull-right"><%= link_to '<span class="icon icon-pencil"></span>'.html_safe, "/editor" + agent_path(:page_id => @page.id), id: "edit_link", :class => "btn btn-default", :title => "Edit Page", data: { save_url: mercury_update_agent_path(:page_id=> @page.id) } %></li>
		<li class="pull-right"><%= link_to '<span class="icon icon-map-marker"></span>'.html_safe, manage_ports_agent_path(:id => params[:id]), :class => "btn btn-default", :title => "Manage ports", :method => :get %></li>
		<li class="pull-right"><%= link_to '<span class="icon icon-user"></span>'.html_safe, agent_new_ase_path(:agent_id => params[:id]), :class => "btn btn-default", :title => "Add an employee", :method => :get %></li>
   	  <% end %>
	<% end %>

  
  <% end %>

  <% if !authorized_ase? %>

    <% if params[:controller] == 'agents'%>
	  <% if params[:action] == 'show' %>
		<li class="pull-right"><%= link_to '<span class="icon icon-envelope"></span>'.html_safe, new_message_path(:type=> 'a', :recipient => @agent.name), :class => "btn btn-default", :title => "Send a message to #{@agent.name}", :method => :get %></li>
   	  <% end %>
	<% end %>
  
  <% end %>


    
</ul>

<% if (authorized_sce? && params[:controller] == 'shipping_companies') || (authorized_ase? && params[:controller] == 'agents') && params[:action] == 'show' %>
	

<!-- Modal -->
<div id="sortOrderModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Change the order</h3>
  </div>
  <div class="modal-body">
  
  <% if authorized_sce? %>
  <%= tag("table", :id => "sortable", :class => "table table-bordered table-striped", :data => {:update_url => sort_shipping_company_pages_path(:shipping_company_id => @shipping_company.id)}) %> 
  <% elsif authorized_ase? %>
  <%= tag("table", :id => "sortable", :class => "table table-bordered table-striped", :data => {:update_url => sort_agent_agent_pages_path(:agent_id => @agent.id)}) %>
  <% end %>
  
      <thead>
          <tr>
              <th>
                  Page Name
              </th>
          </tr>
      </thead>
      <tbody>
      	  <% if authorized_sce? %>
		  <% @pages = @shipping_company.pages %> 
		  <% elsif authorized_ase? %>
		  <% @pages = @agent.agent_pages %>
		  <% end %>		  
		  <% @pages.rank(:position).each do |page| %>
		  <%= tag("tr", :class => "item", :data => {:item_id => page.id}) %>
              <td>
              	<%= page.name.html_safe %>
              </td>
          <% end %>
      </tbody>
  </table>
  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<% end %>

<script>
    $('#sortOrderModal').on('hidden.bs.modal', function(){
        location.reload();
    })
</script>