<% provide(:title, @agent.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @agent.name %>, <%= @agent.country.printableName %>
      </h1>
      Address: <%= @agent.address %><br />
      Telephone: <%= @agent.telephone %><br />
      e-mail: <%= @agent.email %><br />
      <%= link_to "Add employee", agent_new_ase_path(:agent_id => params[:id]), :method => "get" %><br />
      <%= link_to "Ports", operating_on_agent_path, :method => "get" %>
    </section>
  </aside>
</div>
