<% provide(:title, 'Add company') %>
<h1>Add company</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@affiliation) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>

	  <%= f.label :category_id, "Category" %>
      <%= select "affiliation", "category_id", Category.all.collect {|p| [ p.name, p.id ] }, { :include_blank => false } %>
      
      <%= f.submit "Create this company", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
