<ul class="nav nav-pills">
  <li>
    <ol class="breadcrumb">
      <li><%= link_to @shipping_company.name, shipping_company_path(:id => @shipping_company) %><span class="divider">/</span></li>
      <li><%= link_to @fleet.name, shipping_company_fleet_path(:id => @fleet) %><span class="divider">/</span></li>
      <li class="active"><%= @ship.name %></li>
    </ol>
  </li>
  <% if authorized_sce? %>
  <li class="marginLeft"><%= link_to '<span class="icon icon-edit"></span>'.html_safe, edit_shipping_company_fleet_ship_path, :class => "btn btn-default", :title => "Edit ship", :method => :get %></li>
  <li class="pull-right"><%= link_to '<span class="icon icon-plus"></span>'.html_safe, new_shipping_company_fleet_ship_voyage_path(:ship_id => params[:id], :shipping_company_id => params[:shipping_company_id]), :class => "btn btn-default", :title => "Add a voyage", :method => :get %></li>
  <% end %>
</ul>
