<% provide(:title, @title) %>
<%= render "/shared/nav" %>
<div class="row">
    <h3><%= @title %></h3>
    <div class="roundBox">
        <%= will_paginate %>
        <ul class="ships">
            <%= render @ships %>
        </ul>
        <%= will_paginate %>
    </div>
</div>
