<% provide(:title, @title) %>
<div class="row">
  <div class="span12">
  	<%= render "navFleet" %>
  	<h3><%= @title %></h3>
    <%= form_for @ship, url: shipping_company_fleet_ships_path do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :vessel_type %>
      <%= select "ship", "vessel_type_id", VesselType.order(:category).all.collect {|p| [ p.category, p.id ] }, { :include_blank => true } %>

      <%= f.label :flag %>
      <%= select "ship", "flag_id", Flag.order(:name).all.collect {|p| [ p.name, p.id ] }, { :include_blank => true } %>
      
      <%= f.hidden_field :fleet_id, :value => @fleet.id %>
      
      <%= f.submit "Create this ship", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>