<div class="span3 strong"><%= "#{ineed.service.category} :" %></div>
<div class="span4 strong">Offer</div>
<div class="span3 strong">Action</div>
<div class="marginTop">
<%= form_for offer, url: shipping_company_fleet_ship_voyage_need_offer_path(:voyage_id => @voyage.id, :need_id => ineed.id, :voyage_port => params[:voyage_port]), :html => {:class => "form-inline"} do |f| %>
  <div class="span3"></div>
  <div class="span4">
  <%= f.number_field :value, step: 'any', min: 0, class: 'input-small offer_value'  %>
  x <%= f.number_field :quantity, class: 'input-mini offer_quantity'  %> =
  <input class="input-small " id="total" readonly="readonly" value="<%= offer.value*offer.quantity %>"/>
  </div>
  <%= f.hidden_field :need_id, :value => ineed.id %>
  <%= f.hidden_field :agent_id, :value => current_user.agent_id %>
  <%= hidden_field_tag 'offer_id', offer.id %>
  <%= f.submit "Change Offer", class: 'btn btn-small btn-primary' %>
  <%= f.submit "Withdraw Offer", class: 'btn btn-small btn-danger' %>
<% end %>
</div>
