<% @accepted = Offer.reorder(:value).where(:need_id => ineed.id).where(:accepted => true).first %>	
<% if @accepted %>
  <div class="span3 strong"><%= "#{ineed.service.category} :" %></div>
  <div class="span2 strong">Agent</div>
  <div class="span4 strong">Offer</div>
  <div class="span1 strong">Action</div>
  <div class="marginTop">
  <%= form_for @accepted, url: shipping_company_fleet_ship_voyage_need_offer_accept_path(:voyage_id => params[:id], :need_id => ineed.id, :offer_id => @accepted.id), :html => {:class => "form-inline"} do |f| %>
    <div class="span3"></div>
    <div class="span2"><%= link_to @accepted.agent.name, @accepted.agent %></div>
    <div class="span4"><input class="input-small" id="value" readonly="readonly" value="<%= @accepted.value %>"/>
    <%= " x #{@accepted.quantity} = " %>
    <input class="input-small" id="total" readonly="readonly" value="<%= @accepted.value*@accepted.quantity %>"/>
    </div>
    <%= f.hidden_field :value, :value => @accepted.value %>
    <%= f.hidden_field :need_id, :value => @accepted.need_id %>
    <%= f.hidden_field :agent_id, :value => @accepted.agent_id %>
    <%= f.submit "Withdraw Acceptance", class: 'btn btn-small btn-danger'  %>
  <% end %>
  </div>
<% else %>
  <% @needOffers = Offer.reorder(:value).where(:need_id => ineed.id)%>
    <div class="span3 strong"><%= "#{ineed.service.category} :" %></div>
    <div class="span2 strong">Agent</div>
    <div class="span4 strong">Offer</div>
    <div class="span1 strong">Action</div>
  	<div class="marginTop">
  <% @needOffers.each do |offer| %>
    <%= form_for offer, url: shipping_company_fleet_ship_voyage_need_offer_accept_path(:voyage_id => params[:id], :need_id => ineed.id, :offer_id => offer.id), :html => {:class => "form-inline"} do |f| %>
      <div class="span3"></div>
      <div class="span2"><%= link_to offer.agent.name, offer.agent %></div>
      <div class="span4"><input class="input-small" id="value" readonly="readonly" value="<%= offer.value %>"/>
      <%= " x #{offer.quantity} = " %>
      <input class="input-small" id="total" readonly="readonly" value="<%= offer.value*offer.quantity %>"/>
      </div>
      <%= f.hidden_field :value, :value => offer.value %>
      <%= f.hidden_field :need_id, :value => offer.need_id %>
      <%= f.hidden_field :agent_id, :value => offer.agent_id %>
      <%= f.submit "Accept Offer", class: 'btn btn-small btn-success'  %>
    <% end %>
  <% end %>
  </div>
<% end %>	
