<div class="span3 strong"><%= "#{ineed.service.category} (#{ineed.quantity}) :" %></div>
<div class="span4 strong">Offer</div>
<div class="span3 strong">Action</div>
<div class="marginTop">
<% @offer = Offer.new %>
<%= form_for @offer, url: shipping_company_fleet_ship_voyage_need_offers_path(:voyage_id => @voyage.id, :need_id => ineed.id), :html => {:class => "form-inline"} do |f| %>
  <div class="span3"></div>
  <div class="span4">
  <%= f.number_field :value, step: 'any', min: 0, class: 'input-small offer_value' %>
  x <%= label :quantity, ineed.quantity %>=
  <input class="input-small " id="total" readonly="readonly"/>
  <%= f.hidden_field :need_id, :value => ineed.id %>
  <%= f.hidden_field :agent_id, :value => current_user.agent_id %>
  </div>
  <%= f.submit "Submit Offer", class: 'btn btn-small btn-primary'  %>
<% end %>
</div>
