<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "poseidon", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
              
          <li>
          <form class="form-search navbar-form navbar-left" role="search" accept-charset="UTF-8" action="/search" method="get">
              <div class="input-append">
                  <input id="term" name="term" type="text" class="span2 search-query">
                  <button type="submit" class="btn">
                      <span class="icon icon-search"></span>
                  </button>
              </div>
          </form>
          </li>
          <% if signed_in? %>
			<li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
			<li>
				<% hn = get_unread_notifications(get_mailbox.receipts) %>
				<% unless hn == '0' %>
				<a id="hn" class="red" href="#"><i class="fa fa-exclamation"></i> <%= hn %></a>
				<% else %>
				<a is="hn" href="#"><i class="fa fa-exclamation"></i> <%= hn %></a>
				<% end %>
			</li>
			<li id="fat-menu" class="dropdown">
			  <% hm = get_unread(get_mailbox.receipts) %>
			  <% unless hm == '0' %>
              <a id="hm" href="#" class="red dropdown-toggle" data-toggle="dropdown">
              <% else %>
			  <a id="hm" href="#" class="dropdown-toggle" data-toggle="dropdown">
			  <% end %>
				<i class="fa fa-envelope"></i> <%= hm %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
				<li><%= link_to "New Message", new_message_path %></li>
				<li class="divider"></li>
                <li><%= link_to "Messages", conversations_path %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
