<!DOCTYPE html>
<html>
    <head>
        <meta content='width=device-width, initial-scale=1.0' name='viewport'>
        <title><%= full_title(yield(:title)) %></title>
        <%= stylesheet_link_tag "application", media: "all",
        "data-turbolinks-track" => true %>
        <!--[if !IE 7]>
            <style type="text/css">
            #wrap {display:table;height:100%}
            </style>
        <![endif]-->
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <%= render 'layouts/shim' %>
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <%= render 'layouts/header' %>
            </div>
            <div id="main">
                <div class="container">
                    <% if signed_in? %>
                    <div class="row">
                        <% if sce? or ase? %>
						<% if params[:controller] != 'conversations' %>
                        <div class="span3">
                            <div class="sidebar" data-spy="affix" data-offset-top="30">
                                <%= render "shared/left_menu" %>
                            </div>
                        </div>
						<% end %>
						<%if params[:action] == 'home' %>
						<div class="span9">
						<% elsif params[:controller] != 'conversations' %>
                        <div class="span7">
                        <% else %>
						<div class="span10">
						<% end %>							
                            <% flash.each do |key, value| %>
                            <div class="alert alert-<%= key %>">
                                <%= value %>
                            </div>
                            <% end %>
                            <%= yield %>
                        </div>
						<% if params[:action] != 'home'%>
                        <div id="feed_doc" class="span2">
                            <div class="sidebar transparentSidebarBox" data-spy="affix" data-offset-top="30">
                            	<%= render "shared/feed" %>
                            </div>
                        </div>
						<% end %>
						<% end %>
                    </div>
                    <% else %>
                    <% flash.each do |key, value| %>
                    <div class="alert alert-<%= key %>">
                        <%= value %>
                    </div>
                    <% end %>
                    <%= yield %>
                    <% end %>
                    <%= debug(params) if Rails.env.development? %>
                </div>
            </div>
        </div>
		<% unless signed_in? %>
        <div class="container">
            <%= render 'layouts/footer' %>
        </div>
		<% end %>
    </body>
	
    <script>
        $('.sidebar').affix();
    </script>
</html>
